<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- material icons -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <title>Travel app</title>
  </head>

  <body>
    <!-- Navbar -->
    <div class="navbar-fixed">
      <nav class="light-blue">
        <div class="container">
          <div class="nav-wrapper">
            <a href="#" class="brand-logo">Travel App</a>
            <a href="" data-target="mobile-nav" class="sidenav-trigger">
              <i class="material-icons">menu</i>
            </a>
            <!-- navigation  list -->
            <ul class="right hide-on-med-and-down">
              <li><a href="#home" class="">home</a></li>
              <li><a href="#contact" class="">contact</a></li>
              <li><a href="#aboutme" class="">about us</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <!-- Side nav mobile device  -->
    <ul class="sidenav" id="mobile-nav">
      <li><a href="#home" class="">home</a></li>
      <li><a href="#contact" class="">contact</a></li>
      <li><a href="#aboutme" class="">about us</a></li>
    </ul>

    <!-- section: Showcase  -->
    <div class="section no-pad-bot">
      <div class="container">
        <br />
        <br />
        <h1 class="header center orange-text">Travel App</h1>
        <!-- Header message -->
        <div class="row center">
          <h5 class="header col s12 light">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
            impedit reiciendis amet quo enim reprehenderit, temporibus nesciunt
            sit minima neque fugiat aspernatur quae aut quaerat cum molestias
            quam sed facilis.
          </h5>
        </div>

        <!-- Header form -->
        <div class="section center">
          <div class="card-panel">
            <div class="row">
              <form  class="col s12"
                      id="searchFlights"
              >
                <div class="row">
                    <!-- Origin -->
                  <div class="input-field col s12 m6 l3">
                    <input
                      placeholder="Origin"
                      id="origin"
                      type="text"
                      class="validate autocomplete input-info"
                    />
                    <label for="origin">Origin</label>
                  </div>
                  <!-- Destination -->
                  <div class="input-field col s12 m6 l3">
                    <input
                      placeholder="Destination"
                      id="destination"
                      type="text"
                      class="validate autocomplete input-info"
                    />
                    <label for="destination">Destination</label>
                  </div>
                  <!-- Date departures -->
                  <div class="input-field col s12 m6 l3">
                    <input
                      placeholder="date departure"
                      id="dateDeparture"
                      type="text"
                      class="datepicker validate input-info"
                    />
                    <label for="dateDeparture">Date Departure</label>
                  </div>
                  <!-- Date arrive -->
                  <div class="input-field col s12 m6 l3">
                    <input
                      placeholder="date arrive"
                      id="dateArrive"
                      type="text"
                      class="datepicker validate input-info"
                    />
                    <label for="dateArrive">Date Arrive</label>
                  </div>
                  </div>
                </div>
                <div class="row">
                  <!-- Search button -->
                  <div class="col s6 offset-s6  offset-m8  offset-l8">
                    <button
                      type="submit"
                      class="btn btn-primary"
                    >Search</button>
                  </div>
                </div>
                <!-- End from  -->
              </form>
              <!-- End row form  -->
            </div>
            <!-- End card-panel from -->
          </div>
          <!-- End section form  -->
        </div>
        <!-- End container showCase -->
      </div>
      <!-- End showcase section -->
    </div>

    <!-- Being card trip  -->
    <div class="section center card-details">
        <h1 class="blue-text">Your Trip 🛬</h1>
        <div class="container">
            <span class="red-text no-trips-msg">No any trips yet</span>
            <div class="row">
                <!-- Card result -->
                <div class="col s12 m12 l12 card-entry">
            </div>
        </div>
    </div>
  </body>
</html>
